name: Create Release

on:
  push:
    tags: '*'

jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true
      - name: Setup .NET
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '7.x.x'
      - name: Restore dependencies
        run: dotnet restore
      - name: Download Dalamud
        run: |
          Invoke-WebRequest -Uri https://goatcorp.github.io/dalamud-distrib/stg/latest.zip -OutFile latest.zip
          Expand-Archive -Force latest.zip "$env:AppData\XIVLauncher\addon\Hooks\dev"
      - name: Build
        run: |
          $ver = '${{ github.ref }}' -replace 'refs/tags/',''
          invoke-expression 'dotnet build --no-restore --configuration Release --nologo -p:Version=$ver -p:FileVersion=$ver -p:AssemblyVersion=$ver'
      - name: Archive
        run: |
          $ver = '${{ github.ref }}' -replace 'refs/tags/',''
          Compress-Archive -Path StanleyParableXiv\bin\x64\Release\* -DestinationPath StanleyParableXiv.zip
          '{ "version": "' + $ver + '" }' | Out-File -FilePath '.\assets\mp3\manifest.json'
          '{ "version": "' + $ver + '" }' | Out-File -FilePath '.\assets\ogg\manifest.json'
          Compress-Archive -Path assets\mp3\* -DestinationPath assets-mp3.zip
          Compress-Archive -Path assets\ogg\* -DestinationPath assets-ogg.zip
      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v2.2.1
        with:
          path: |
            ./StanleyParableXiv/bin/x64/Release/*
      - name: Upload Release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: ./*.zip
          file_glob: true